body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.container {
	width: 300px;
}

.left {
	float: left;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}
.right {
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	}